
.halfscreen {
    width: 50%;
    float: right;
    margin: 20px;
}
.onethirdscreen {
    width: 30%;
    float: right;
    margin: 20px;
}
@media screen and (max-width: 800px) {
    .halfscreen {
        width: 100%;
    }
    .onethirdscreen {
        width: 100%;
    }
}